.approval_img{
    height:20%;
    width:20%;
    z-index:-1;
}

.approval_img_md{
    height:40%;
    width:40%;
    z-index:-1;
}


.approval_img_sm{
    height:10%;
    width:10%;
    z-index:-1;
}

