.approval_img{
    height:20%;
    width:20%;
    z-index:-1;
}

.approval_img_md{
    height:40%;
    width:40%;
    z-index:-1;
}


.approval-img-sm{
    height:6%;
    width:6%;
    z-index:-1;
}


@media screen and (min-width: 768px){
	#submitMedicalModalHrd .modal-dialog{
		width: 900px;
	}
}

#submitMedicalModalHrd .modal-dialog{
		width: 75%;
	}